/Day 17/Day 17 Quiz Game/data.py
/Day 17/Day 17 Quiz Game/main17.py
/Day 17/Day 17 Quiz Game/question_model.py
/Day 17/Day 17 Quiz Game/quiz_brain.py
/Day 17/Day 17 Notes.py
/Day 17/Day 17 Quiz Game/
/Day 20 and 21 = Snake/day-21-notes.py
